name: Regression Test
on:
  push:
    branches:
      - master  # forall push/merge in master
      - v1      # forall push/merge in v1
  pull_request:
    branches:
      - "**"  # forall submitted Pull Requests
jobs:

  # The following job tests the use of single quotes in before_script.

  issue-40:
    name: test / script with quotes / custom_image / opam
    # interpolated scripts couldn't contain single-quotes
    runs-on: ubuntu-latest
    steps:
      # BEGIN GHA_TEST_ENV
      - uses: actions/checkout@v2
        with:
          repository: 'erikmd/docker-coq-github-action-demo'
          ref: 'master'
      - uses: actions/checkout@v2
        with:
          path: 'docker-coq-action'
      - uses: './docker-coq-action'
        # END GHA_TEST_ENV
        with:
          opam_file: 'coq-demo.opam'
          custom_image: 'coqorg/coq:8.13'
          before_script: |
            opam repo list
            opam repo add --all-switches --set-default coq-extra-dev 'https://coq.inria.fr/opam/extra-dev'
            opam repo list

  # The following job illustrates the use of two successive docker-coq-action calls.
  issue-80:
    name: test / multi-call / custom_image / custom_script
    runs-on: ubuntu-latest
    steps:
      ################################################################
      # Begin GHA_TEST_ENV # You should remove this GHA_TEST_ENV block
      #                    # if you copy this demo workflow elsewhere!
      - uses: actions/checkout@v3
        with:
          path: 'docker-coq-action'
      - uses: './docker-coq-action'
        # End GHA_TEST_ENV
        ##################
        # - uses: actions/checkout@v3
        # - uses: coq-community/docker-coq-action@v1
        name: Run docker-coq-action, SHOULD FAIL
        continue-on-error: true
        with:
          custom_image: mock-image # non-existing image
          custom_script: |
            cat /etc/os-release
      - name: Pull mock image
        run: |
          docker pull ubuntu:latest
          docker tag ubuntu:latest mock-image
      - uses: './docker-coq-action'
        ##################
        # - uses: actions/checkout@v3
        # - uses: coq-community/docker-coq-action@v1
        name: Run docker-coq-action, SHOULD SUCCEED
        with:
          custom_image: mock-image # non-existing image
          custom_script: |
            cat /etc/os-release
