name: reviewdog
on:
  push:
    branches:
      - master
      - v1
  pull_request:
    branches:
      - "**"
jobs:
  shellcheck:
    name: runner / shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-check
          path: "."
          pattern: "*.sh"
          exclude: "./.git/*"
          level: warning
